@{
    ViewBag.Title = "Home Page";
}


@model List<MVC_Blog.Models.Post>
<section class="row">
    <div class="site_up">
        <div class="site_up_menu2">
            <div class="site_up_menu2_all">
                <div class="site_up_menu2_drawing"></div><p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <b>Search By </b> @Html.RadioButton("searchBy", " Post",true)<text> Post</text>
        @Html.RadioButton("searchBy", "Tags")<text> Tags</text><br />
                        @Html.TextBox("search")<input type="submit" value="Search" />
    }

            </div>
        </div>
        <div class="site_up_heading">
            <div class="site_up_heading_text_all">
                <div class="site_up_heading_text">
                </div>
            </div>
        </div>
    </div>
    <div class="site_up_heading">
        <div class="site_up_heading_text_all">
            <div class="site_up_heading_text">
            </div>
        </div>
        <p><strong> Tags : </strong><a href="http://localhost:53214/Posts/Details/2" title="Read more" target="_blank">Windows 10</a> | <a href="http://localhost:53214/Posts/Details/8" sl-processed="1">C#</a> | <a href="http://localhost:53214/Posts/Details/9" sl-processed="1">Java</a> | <a href="http://localhost:53214/Posts/Details/10" sl-processed="1">JavaScript</a> | <a href="http://localhost:53214/Posts/Details/11" sl-processed="1">PHP</a> | </p>
 

        <TABLE   BORDER=1 CELLSPACING=1 CELLPADDING=1>
            <TR>
                <TD   BGCOLOR="#fbf3f3">
                    LATEST POSTS
                </TD>
            </TR>
        </TABLE>

    @foreach (var post in Model)

    {

        <article class="post col-md-6">
            <h2 class="title">@post.Title</h2>
            <div class="about">
                Published 
                @if (post.Author != null)
                {
                    @:by
                    <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                
                at <i>@post.Date</i>
            </div>
            <div class="body">@Html.Raw(post.Body)</div>
              
             
            </article>
        }


</section>